body {
  margin: 0;
  font-family: Arial;
  background: black;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.box {
  background: rgba(255,255,255,0.05);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.btn {
  padding: 10px 20px;
  background: red;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.glow {
  text-shadow: 0 0 10px red;
}